# Данные чистой установки
DIRECTUS_URL=http://localhost:8057
DIRECTUS_KEY=
DIRECTUS_SECRET=
DIRECTUS_CORS_ORIGIN=true
ADMIN_EMAIL=
ADMIN_PASSWORD=
POSTGRES_DB=directus
POSTGRES_USER=directus
POSTGRES_PASSWORD=
SYMBOLIKA_PUBLIC_URL=http://localhost:8057
SYMBOLIKA_PUSH_PUBLIC_KEY=
SYMBOLIKA_PUSH_PRIVATE_KEY=
SYMBOLIKA_PUSH_SUBJECT=mailto:start@symb62.ru
SYMBOLIKA_YANDEX_DISK_TOKEN=
SYMBOLIKA_YANDEX_DISK_ROOT=app:/Заказы
SYMBOLIKA_YANDEX_DISK_PUBLISH_FILES=true
SYMBOLIKA_YANDEX_DISK_DELETE_REPLACED=true
SYMBOLIKA_VK_TOKEN=
SYMBOLIKA_VK_API_VERSION=5.199
SYMBOLIKA_VK_PRODUCTION_PEER_ID=""
SYMBOLIKA_VK_SCREEN_PRINTING_PEER_ID=""
SYMBOLIKA_TELEGRAM_BOT_TOKEN=
SYMBOLIKA_SMS_RU_API_ID=
SYMBOLIKA_SMS_RU_FROM=
SYMBOLIKA_SMTP_HOST=mail.hosting.reg.ru
SYMBOLIKA_SMTP_PORT=465
SYMBOLIKA_SMTP_SECURE=true
SYMBOLIKA_SMTP_USER=start@symb62.ru
SYMBOLIKA_SMTP_PASSWORD=
SYMBOLIKA_EMAIL_FROM="Символика <start@symb62.ru>"
SYMBOLIKA_MAIL_MODE=mock
SYMBOLIKA_IMAP_HOST=mail.hosting.reg.ru
SYMBOLIKA_IMAP_PORT=993
SYMBOLIKA_IMAP_SECURE=true
SYMBOLIKA_IMAP_USER=start@symb62.ru
SYMBOLIKA_IMAP_PASSWORD=
SYMBOLIKA_MAIL_ALLOWED_ALIASES=start@symb62.ru
