# Данные чистой установки
DIRECTUS_URL=http://localhost:8057
ADMIN_EMAIL=admin@symb.local
ADMIN_PASSWORD=ChangeThisAdminPass2026
POSTGRES_DB=directus
POSTGRES_USER=directus
POSTGRES_PASSWORD=ChangeThisDbPass2026
SYMBOLIKA_PUBLIC_URL=http://localhost:8057
SYMBOLIKA_VK_TOKEN=vk1.a.2F5vOy_asz9AA_inBZwmCYTMk3EhXLuVxSqWeJnp-jtWmzO3FayTFUB8PhFMjyDJODjvYwrthkWSrdrB7X_JDwG_UvXj30R_nmhNZg7T_GaHQXE3XeCFBTnmHXruuuZ91DUU2y8V6AWiKqiGy2lL7dK559DOJR9EgdeaXIYCF-rgBBF89uq0_ENSxgvs-kKeicivnouz-HlQWvBtj0yLwQ
SYMBOLIKA_VK_API_VERSION=5.199
SYMBOLIKA_VK_PRODUCTION_PEER_ID=240258348
SYMBOLIKA_VK_SCREEN_PRINTING_PEER_ID=240258348
