.cache/
.config/
.local/
.ssh/
logs/

.bash_history
.bashrc
.profile
.env

*.log
*.zip

symbolika_directus_clean_install/database/
symbolika_directus_clean_install/uploads/

database_before_pg_resetwal/
db_backups/

*.sql
!full_directus_backup.sql
!.gitignore
